*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
}
.calculator {
    height: 80vh;
    width: 50%;
    margin: auto;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #717377;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 1119, 0.5);
}
input {
    font-size: xx-large;
    text-align-last: start;
    margin: 9px 0px;
    border: transparent;
    box-shadow: 0px 3px 15px rgb(205 206 218 / 50%);
    background: none;
    cursor: pointer;
    padding: 18px;
    border-radius: 34%;
    color: white;
}
.bt {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.bt button {
    padding: 24px;
    margin: 10px 23px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 11%;
    font-weight: bolder;
    font-size: larger;
    box-shadow: 0px 3px 15px rgb(205 206 218 / 50%);
    background: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 button:hover{
    background: rgb(205 206 218 / 50%);
 }

@media only screen and (max-width: 900px) {
    input {
        padding: 19px 65px;
        font-size: large;
    }
    .calculator{
        width: 100vw;
    }
    .bt button {
        /* text-align: center; */
        padding: 7px 9px;
        width: 16%;
        /* height: 18%; */
        height: 11vh;
    }
  }

